body{
  margin: 0;
  padding: 0;
}

#container {
  height: 400px;
  display: grid;
  place-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header{
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.cont {
  margin: 10px auto 20px;
  display: block;
  padding: 10px 0; /* Добавляем верхний и нижний внутренний отступ */
  width: 600px;
  text-align: center;
  position: relative;
  border-top: 1px solid black; /* Добавляем верхнюю границу */
}

.cont img {
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto;
}
/*--------cards--------*/

#slider-container {
  height: 300px;
  width: 85vw;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#slider-container #slider .slide:nth-child(1) {
  background-color: rgba(244, 56, 150, 0.8);
  border: 2px solid rgb(32, 19, 52);
  background-image: url('image/data-accesskafka-cluster-svgrepo-com.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#slider-container #slider .slide:nth-child(2) {
  background-color: rgba(240,101,78,0.8);
  border: 2px solid rgb(32,19,52);
  background-image: url('image/star-shine-svgrepo-com.svg');
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#slider-container #slider .slide:nth-child(3) {
  background-color: rgba(249,216,61,0.8);
  border: 2px solid rgb(32,19,52);
  background-image: url('image/dna-svgrepo-com.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#slider-container #slider .slide:nth-child(4) {
  background-color: rgba(106,246,168,0.8);
  border: 2px solid rgb(32,19,52);
  background-image: url('image/ant-svgrepo-com.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#slider-container #slider .slide:nth-child(5) {
  background-color: rgba(16,133,245,0.8);
  border: 2px solid rgb(32,19,52);
  background-image: url('image/tree-decidious-svgrepo-com.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#slider-container #slider .slide:nth-child(6) {
  background-color: rgba(4,55,249,0.8);
  border: 2px solid rgb(32,19,52);
  background-image: url('image/machine-learning-model-svgrepo-com.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

#slider .slide span a {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

/*--------buttons left right--------*/

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 15px;
  width: 15px;
  border-left: 8px solid #696969;
  border-top: 8px solid #696969;
  cursor: pointer;
}
#slider-container .btn:hover {
  transform: scale(1.2);
}
#slider-container .btn.inactive {
  border-color: #282828
}
#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px
}
#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}
#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all .5s;
}
#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  background-color: #b5b5b5;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
  display: grid;
  place-items: center;
}
#slider-container #slider .slide span {
  color: white;
  font-size: 60px;
}
@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}
@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}
@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}
@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}

.text {
  font-family: "Colonna MT";
}
