#ant {
  display: flex;
  margin: auto;
  width: 50%;
}

#canvas {
  background-color: transparent;
  border: 1.5px solid rgba(33, 31, 37, 0.4);
}

.buttons{
  display: inline-block;
  padding: 12px 28px;
  font-size: 25px;
  background-color: rgba(33, 31, 37, 0.4);
}

.text {
  font-style: italic;
  font-size: 14px;
  color: aliceblue;
}

#main{
  background: url("img/im.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Закрепляем изображение */
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/*--------buttons left right--------*/

#container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 15px;
  width: 15px;
  border-left: 8px solid #696969;
  border-top: 8px solid #696969;
  cursor: pointer;
}
#container .btn:hover {
  transform: scale(1.2);
}
#container .btn.inactive {
  border-color: #282828
}
#container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px
}
#container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#container .btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.slider {
  appearance: none;
  width: 150px;
  height: 15px;
  background: rgba(10,47,49,0.7);
  outline: none;
  border-radius: 50px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  border: 2px solid rgb(10,47,49);
}
