#ant {
  display: flex;
  margin: auto;
  width: 50%;
}

#canvas {
  background-color: transparent;
  border: 1.5px solid rgba(33, 31, 37, 0.4);
}

.buttons{
  display: inline-block;
  padding: 12px 28px;
  font-size: 25px;
  background-color: rgba(33, 31, 37, 0.4);
}

.text {
  font-style: italic;
  font-size: 14px;
  color: aliceblue;
}

#main{
  background: url("img/im.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Закрепляем изображение */
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
}



#𝛼::-webkit-slider-thumb {
  background-color: red; /* Для веб-кит браузеров */
}

#𝛼::-moz-range-thumb {
  background-color: red; /* Для Firefox */
}

#𝛼::-ms-thumb {
  background-color: red; /* Для Internet Explorer и Edge */
}

